#wrap {
    width: 100%;
    max-width: 1920px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}


#header nav {
    display: flex;
    align-items: center;
    width: calc(100% - 200px);
    height: 50px;
    line-height: 50px;
}

#header nav .logo {
    width: 100px;
    height: 40px;
    background: url(../images/img_logo.png) no-repeat 50%;
    background-size: 100% auto;
}

/* #header nav .logo:hover {
    transition: all 0.25s;
    transform: scale(1.2);
} */

#header nav ul {
    display: flex;
    margin-left: 2.6vw;
}

#header nav ul li a {
    color: #000;
    font-size: 0.8vw;
    font-weight: 900;
    transition: all 0.25s;
    letter-spacing: -0.04em;
}

#header nav ul li a:hover {
    transform: scale(1.2);
    color: #0D5CAB;
    padding-bottom: 8px;
    border-bottom: 2.5px solid #0D5CAB;
}

#header .nav01 li {
    margin-left: 2.6vw;
}

#header .nav01 li:first-child {
    margin-left: 0px;
}

#header .line {
    margin-left: 2.6vw;
    width: 2px;
    height: 20px;
    background-color: #dbdbdb;
}

#header .nav02 li {
    margin-left: 2.6vw;
}

#header .nav02 li:first-child {
    margin-left: 0px;
}


#header .search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 274px;
    width: 130px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#header .search img {
    width: 16px;
    height: 16px;
}

#header .search input::placeholder {
    font-weight: 500;
    color: #dbdbdb;
}

#header .my {
    display: flex;
    justify-content: flex-end;
    width: 120px;
    height: 50px;
}

#header .my a:hover {
    transform: scale(1.2);
    transition: all 0.25s;
}

#header .my img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#header .my_sub {
    position: absolute;
    display: flex;
    align-items: center;
    top: 150px;
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#header .my_sub ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header .menu {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}



/* header 끝*/

#sec_t {
    margin: 0 auto;
    width: 100%;
    height: 765px;
    max-width: 1920px;
}

#main_t {
    margin: 0 auto;
    max-width: 1720px;
    width: calc(100%-200px);
    height: 570px;
}

#main_t .bg_box {
    display: flex;
    width: 100%;
    height: 570px;
}

#main_t .main_img {
    width: 50%;
    height: 100%;
    background: url(../images/img_1.jpg);
    border-radius: 15px;
}

#main_t .main_txt {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#main_t .pop1 {
    margin-left: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-style: italic;
}

#main_t .txtbox {
    margin-left: 140px;
}

#main_t .pop1 span {
    font-weight: bold;
    color: #0D5CAB;
}

#main_t .txt1 {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 600;
}

#main_t .txt1 span {
    color: #0D5CAB;
    font-weight: 900;
}

#main_t h2 {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: -3.5px;
}

#main_t h2:nth-child(2) {
    margin-top: 60px;
}

#main_t h2:nth-child(3) {
    font-weight: 900;
    color: #0D5CAB;
}

#main_t .hashtag {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #c1c1c7;
    letter-spacing: -0.9px;
}

#main_t .lnmore {
    display: flex;
    margin-top: 60px;
}

#main_t .lnmore:hover img {
    transform: scale(1.1);
    transition: 0.25s;
}

/*  */


#main_b {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1720px;
    width: calc(100%-200px);
    height: 195px;
}

#main_b .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50px;
    font-size: 9px;
    color: #0D5CAB;
}

#main_b .l1 {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}


#main_b .l1>strong {
    margin-left: 20px;
}

#main_b .l1>a:hover {
    transform: scale(1.2);
    transition: all 0.25s;
}

#main_b .l2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

#main_b .bar {
    display: flex;
    align-items: center;
    font-size: 14px;
}

#main_b .h_line {
    margin: 0 17px 0 17px;
    width: 120px;
    height: 2px;
    background: linear-gradient(to right, #0D5CAB 80%, #c1c1c7 20%);
}

#main_b .l3 a:nth-child(2) {
    margin-left: 40px;
}

#main_b .l3 a:nth-child(3) {
    margin-left: 50px;
}

#main_b .l3>a:hover img {
    transform: scale(1.1);
    transition: all 0.25s;
}

#main_b .right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 50px;
    font-size: 14px;
    letter-spacing: -1px;
}

#main_b .right ul {
    display: flex;
}

#main_b .right ul li {
    margin-left: 20px;
}

#main_b .right ul li a {
    color: #c1c1c7;
}

#main_b .right ul li a:hover {
    transition: 0.25s;
    color: #0D5CAB;
    padding-bottom: 8px;
    border-bottom: 2.5px solid #0D5CAB;
}

#main_b .right ul li a:hover span {
    color: #c1c1c7;
}

/* sec_b 시작 */
#sec_b {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    background-color: #f8f9fa;
}

#category {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    max-width: 1720px;
    height: 225px;
}

#category ul {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
}

#category ul li {
    text-align: center;
}

#category ul li p {
    margin-top: 20px;
    color: #555;
    font-weight: 900;
}

#category ul li:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

/*  */

/*  */
#product {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 200px);
    height: 700px;
}

#product .highlight {
    margin: 30px 0 0 30px;
    position: absolute;
    align-self: baseline;
    text-align: center;
    width: 115px;
    height: 20px;
    background-color: #6babed;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    border-radius: 3px;
}

#product .pro1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
}



#product .highlight p {
    color: #fff;
}

#product .pro1 .pro_img {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 80%;
}

#product .pro1 .pro_img>a {
    margin-top: 100px;
    padding: 30px;
}

#product .pro1 .pro_img .arrow {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#product .pro1 .pro_img>a:hover img {
    transform: scale(1.1);
    transition: 0.25s;
}

#product .pro1 .txt_box {
    width: 95%;
    height: 20%;
}

#product .pro1 .txt_box span {
    font-size: 19px;
    letter-spacing: -0.05em;
}

#product .pro1 .txt_box strong {
    font-size: 19px;
    letter-spacing: -0.04em;
}

#product .pro1 .txt_box h5 {
    font-size: 14px;
    color: #c1c1c7;
    font-weight: 100;
}

#product .pro1 .txt_box p:last-child {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    color: #6babed;
}

#product .dot {
    position: absolute;
    align-self: flex-end;
    margin-left: 800px;
    margin-bottom: 30px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #0D5CAB;
}





#product .pro2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48.83%;
    height: 100%;
}

#product .pro2 .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 48.5%;
    background: linear-gradient(0deg, rgba(13, 92, 171, 1) 0%, rgba(24, 116, 207, 1) 100%);
    box-shadow: 0px 30px 60px 0px rgb(13 92 171 / 25%);
    border-radius: 15px;
}

#product .pro2 .rental {
    position: absolute;
    margin: 30px 0 0 30px;
    text-align: center;
    width: 115px;
    height: 20px;
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    border-radius: 3px;
}

#product .pro2 .rental>p {
    color: #6babed;
}

#product .pro2 .top .l_side {
    width: 240px;
    height: 240px;

}

#product .pro2 .top .l_side>img {
    width: 240px;
    height: 240px;

}

#product .pro2 .top .r_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    height: 150px;
}

#product .pro2 .top .r_side_t {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

#product .pro2 .top .r_side_t .txt {
    display: inline-block;
    font-size: 19px;
    letter-spacing: -0.65px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 290px;
}

#product .pro2 .top .r_side_t .txt>strong {
    margin-left: 2px;
}

#product .pro2 .top .r_side_t>p:first-child {
    font-size: 10px;
}

#product .pro2 .top .r_side_t>p:last-child {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    color: #ffff18;
}


#product .pro2 .top .r_side_b {
    display: flex;
    justify-content: space-between;
}

#product .pro2 .top .r_side_b>div {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.04em;
}

#product .pro2 .top .r_side_b>div:first-child {
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    color: #0D5CAB;
}

#product .pro2 .top .r_side_b>div:last-child {
    width: 140px;
    height: 40px;
    line-height: 34px;
    border: 3px solid #fff;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

#product .pro2 .bot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48.5%;
}

#product .pro2 .bot>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48.8%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
}

#product .pro2 .bot>div img {
    align-self: center;
    max-height: 70%;
}

#product .pro2 .bot>div .box {
    align-self: center;
    width: 85%;
}

#product .pro2 .bot>div .txt {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    width: 100%;
    letter-spacing: -0.04em;
}

#product .pro2 .bot>div h5 {
    color: #c1c1c7;
    font-size: 10px;
}

#product .pro2 .bot>div p {
    color: #6babed;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    font-size: 12px;
}









/*  */



/*  */
#story {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 2500px;
    background-color: darkgrey;

}

#story .txt_box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100% - 200px);
    height: 11.5%;
    background-color: #ffff18;
}

#story .txt_box .tit {
    font-size: 45px;
    color: #0D5CAB;
    letter-spacing: -0.04em;
}

#story .txt_box>p {
    font-size: 14px;
    color: #c1c1c7;
    letter-spacing: -0.04em;
}

#story .board {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: calc(100% - 200px);
    height: 80%;
    background-color: blueviolet;
}

#story .board>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 3);
    height: 100%;
}

#story .board>div:last-child {
    justify-content: flex-start;
}

#story .board .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 810px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    letter-spacing: -0.04em;
}

#story .board .box:last-child {
    margin-top: 50px;
}

#story .board .box>img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

#story .board .box .line {
    width: 20px;
    height: 5px;
    background-color: #0D5CAB;
    margin-bottom: 18px;
}

#story .board .box h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0D5CAB;
    font-weight: 800;
}

#story .board .box p {
    margin-top: 30px;
    margin-bottom: 11px;
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;

}

#story .board .box h4 {
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    color: #aeafb6;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-overflow 줄 갯수 지정! */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    max-height: 60px;
    /* font-size: 16px;
    line-height: 30px;
    color: #aeafb6;
    font-family: 'Noto Sans KR';
    margin-bottom: 40px;
    letter-spacing: -0.64px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-height: 60px; */
}

#story .board .box h5 {
    font-size: 10px;
    color: #aeafb6;
}











#footer {
    width: 100%;
    height: 410px;
    background-color: lightgreen;
}

#footer {
    width: 100%;
    height: 1075px;
}

#footer .f_top {
    margin: 0 auto;
    width: calc(100% - 200px);
    height: 500px;
    background-color: #aeafb6;
}

#footer .category {
    width: 100%;
    height: 500px;
}

#footer .category ul {
    padding-top: 95px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#footer .category ul li {
    width: 315px;
    height: 325px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#footer .category ul li h3 {
    margin-top: 40px;
    font-size: 30px;
    letter-spacing: -3px;
    font-weight: 900;
    color: #0D5CAB;
}

#footer .category ul li p {
    margin-top: 14px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: -1px;
    color: rgb(126, 126, 126);
}


#footer .f_middle {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-color: orange;
}

#footer .f_middle .in {
    padding-top: 80px;
    margin: 0 auto;
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
}


#footer .f_middle .left_t {
    display: flex;
    align-items: center;
}

#footer .f_middle .left_t img {
    width: 100px;
    height: 40px;
}

#footer .f_middle .left_t .copy {
    margin-left: 190px;
    font-size: 10px;
    color: #555;
}

#footer .f_middle .left_t .copy span {
    font-weight: 900;
    color: #0D5CAB;
}

#footer .f_middle .left_b {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 865px;
    height: 200px;
    box-sizing: border-box;
}

#footer .f_middle .left_b .b_left {
    display: flex;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: -1px;
}

#footer .f_middle .left_b .b_left a {
    color: #555;
}

#footer .f_middle .left_b .b_left a:hover {
    color: #000;
    font-weight: 900;
}


#footer .f_middle .left_b .b_right {
    width: 600px;
    height: 200px;
    font-size: 16px;
    letter-spacing: -1px;
}

#footer .f_middle .left_b .b_right h4 {
    margin-top: 20px;
    color: #0D5CAB;
    font-weight: 900;
}

#footer .f_middle .left_b .b_right ul {
    margin-top: 40px;
    line-height: 35px;
}

#footer .f_middle .left_b .b_right ul li span {
    font-weight: 900;
}



#footer .siteboard {
    margin-left: 165px;
    width: 670px;
    height: 300px;
}

#footer .siteboard .fam_ico {
    display: flex;
    width: 670px;
    height: 50px;
}

#footer .siteboard .fam_ico ul {
    display: flex;
    align-items: center;
}

#footer .siteboard .fam_ico ul li {
    margin-right: 10px;
}

#footer .fam_ico .fam_1 {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 50px;
    width: 190px;
    height: 50px;
    background-color: #0D5CAB;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
}

#footer .fam_ico .fam_1 span {
    color: #679bcf;
}

#footer .fam_ico .fam_1 img {
    margin-left: 80px;
}

#footer .fam_ico .fam_2 {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 30px;
    width: 190px;
    height: 50px;
    background-color: #F8F9FA;
    border-radius: 5px;
    color: #0D5CAB;
    font-size: 12px;
    font-weight: 900;
}

#footer .fam_ico .fam_2 span {
    color: #555;
}

#footer .fam_ico .fam_2 img {
    margin-left: 80px;
}

#footer .fac_adress {
    letter-spacing: -1px;
    display: flex;
    width: 670px;
    height: 250px;
    font-size: 16px;
}

#footer .fac_adress .ul_1 {
    margin-top: 60px;
    color: #000;
    font-weight: 900;
}

#footer .fac_adress .ul_2 {
    margin-top: 60px;
    margin-left: 55px;
}







#footer .f_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: calc(100% - 200px);
    height: 120px;
}

#footer .f_bottom div {
    display: flex;
    align-items: center;
    width: 550px;
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 10px rgba(85, 85, 85, 0.185);
}

#footer .f_bottom div img {
    margin-left: 37px;
}

#footer .f_bottom div p {
    margin-left: 20px;
}

#footer .f_bottom div h3 {
    margin-left: 220px;
}

#footer .f_bottom div:nth-child(1) h3 {
    color: #0D5CAB;
}

#footer .f_bottom div:nth-child(2) h3 {
    color: #0d84ab;
}

#footer .f_bottom div:nth-child(3) h3 {
    color: #7a56c5;
}

#sct {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0D5CAB;
    cursor: pointer;
}



























/* *-*-*-*-*-*-*-*-* */

@media all and (max-width:768px) {

    #wrap {
        width: 100%;
        max-width: 768px;
        background-color: #fff;
    }


    #header {
        width: 100%;
        height: 100px;
    }



    #header nav {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 100px);
        height: 50px;
        line-height: 50px;
    }

    #header nav .logo {
        width: 100px;
        height: 100%;
        background: url(../images/img_logo.png) no-repeat 50%;
        background-size: 100% auto;
    }

    #header nav .logo:hover {
        transition: all 0.25s;
        transform: scale(1.2);
    }

    #header nav ul {
        display: none;
        margin-left: 50px;
    }

    #header .line {
        display: none;
    }

    #header .search {
        display: none;
    }

    #header .my {
        display: none;
    }

    #header .user {
        position: absolute;
        margin-left: calc(100% - 150px);
        width: 50px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        background: url(../images/ico_menu.png);
    }

    .mobmn {
        position: fixed;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: -5px 0 150px rgba(28, 28, 32, 0.8);
        z-index: 10;
    }

    .mobmn>div:first-child {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 10%;
        background-color: #fff;
        box-shadow: 0 -5px 10px rgba(28, 28, 32, 0.8);

    }

    .mobmn>div:first-child>a {
        display: block;
        margin-left: calc(42%);
        width: 15px;
        height: 15px;
        background: url(../images/ico_close.png) 50% no-repeat;
    }

    /* .mobmn::before {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(28, 28, 32, 0.8);
        content: " ";
    } */



    /* header끝 -------------------------*/
    /* set_t 시작----------------------- */
    #sec_t {
        margin: 0 auto;
        width: 100%;
        height: 765px;
        max-width: 768px;
    }

    #main_t {
        display: flex;
        justify-content: center;
        max-width: 768px;
        width: calc(100%-200px);
        height: 750px;
    }

    #main_t .bg_box {
        display: flex;
        flex-direction: column;
        width: calc(100% - 100px);
        height: 100%;
    }

    #main_t .main_img {
        display: flex;
        width: 100%;
        height: 65%;
        background: url(../images/img_1.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }

    #main_t .main_txt {
        display: flex;
        width: 100%;
        height: 35%;
    }

    #main_t .pop1 {
        display: none;
    }

    #main_t .txtbox {
        margin: 0 auto;
    }

    #main_t .txt1 {
        margin-top: 30px;
        font-size: 12px;
        font-weight: 600;
    }

    #main_t h2 {
        font-size: 30px;
        font-weight: 100;
        letter-spacing: -3.5px;
    }

    #main_t h2:nth-child(2) {
        margin-top: 10px;
    }

    #main_t .hashtag {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
        color: #c1c1c7;
        letter-spacing: -0.9px;
    }

    #main_t .lnmore {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: 20px;
    }

    /* ----------------------------------------------------- */
    #main_b {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 768px;
        width: calc(100% - 100px);
        height: 100px;
    }

    #main_b .left {
        padding-top: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 100px);
        height: 50px;
        font-size: 9px;
        color: #0D5CAB;
        border-top: 1px solid #c1c1c7;
    }

    #main_b .l1 {

        width: 33%;
        height: 100%;
    }



    #main_b .l2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 67%;
        height: 100%;
    }


    #main_b .right {
        padding-top: 0.5em;
        display: flex;
        align-self: flex-end;
        margin-top: 20px;
        margin-right: 50px;
        border-top: 1px solid #c1c1c7;
    }



    /* set_t 끝------------------------ */
    #sec_b {
        width: 100%;
        background-color: transparent;
        margin-top: 150px;
    }

    #category {
        margin: 0 auto;
        width: calc(100% - 100px);
        height: 100px;
        background-color: transparent;
    }

    #category ul {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 100px);
    }

    #category ul li {
        text-align: center;
    }

    #category ul li:nth-child(n+6) {
        display: none;
    }

    #category ul li p {
        margin-top: 20px;
        color: #555;
        font-weight: 900;
    }

    /* ----------------------------------------------------------- */





    #product {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 100px);
        height: 1400px;
    }

    #product .highlight {
        position: absolute;
        margin-top: 60px;
    }

    #product .pro1 {
        padding: 1em;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        /* background-color: #fff; */
        background-color: transparent;
        border-radius: 15px;
        box-shadow: 1px 1px 15px #c1c1c75e;
    }

    #product .pro1 .pro_img {
        width: 100%;
    }

    #product .pro1 .pro_img>a {
        padding: 3em;
    }

    #product .pro1 .pro_img>img {
        width: 50%;
        margin-bottom: 1em;
    }

    #product .pro1 .txt_box {
        position: 50% 0;
        width: 90%;
    }

    #product .pro1 .txt_box {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #product .pro1 .txt_box br {
        display: none;
    }

    #product .pro1 .txt_box span {
        font-size: 16px;
        letter-spacing: -0.05em;
    }

    #product .pro1 .txt_box strong {
        font-size: 16px;
        letter-spacing: -0.04em;
    }

    #product .pro1 .txt_box h5 {
        font-size: 12px;
        color: #c1c1c7;
        font-weight: 100;
    }


    #product .dot {
        position: absolute;
        margin-top: 39em;
        margin-right: 3em;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background-color: #0D5CAB;
    }





    #product .pro2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }

    #product .pro2 .top {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 48.5%;
        background: linear-gradient(0deg, rgba(13, 92, 171, 1) 0%, rgba(24, 116, 207, 1) 100%);
        box-shadow: 0px 30px 60px 0px rgb(13 92 171 / 25%);
        border-radius: 15px;
    }

    #product .pro2 .rental {
        position: absolute;
        margin: 30px 0 0 30px;
        text-align: center;
        width: 115px;
        height: 20px;
        background-color: #fff;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 800;
        border-radius: 3px;
    }

    #product .pro2 .rental>p {
        color: #6babed;
    }


    #product .pro2 .top {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #product .pro2 .top .l_side {
        display: flex;
        align-items: center;
        width: 45%;
        height: 240px;

    }

    #product .pro2 .top .l_side>img {
        width: 90%;
        height: auto;
    }

    #product .pro2 .top .r_side {
        align-items: center;
        justify-content: space-between;
        width: 45%;
    }


    #product .pro2 .top .r_side_t .txt {
        display: inline-block;
        font-size: 1.2em;
        letter-spacing: -0.65px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }

    #product .pro2 .top .r_side_t .txt>strong {
        margin-left: 2px;
    }

    #product .pro2 .top .r_side_t>p:first-child {
        font-size: 10px;
    }

    #product .pro2 .top .r_side_t>p:last-child {
        font-size: 17px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 800;
        color: #ffff18;
    }


    #product .pro2 .top .r_side_b {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #product .pro2 .top .r_side_b>div {
        font-size: 1em;
        font-weight: bold;
        letter-spacing: -0.04em;
    }

    #product .pro2 .top .r_side_b>div:first-child {
        width: 48.5%;
        height: auto;
        line-height: 40px;
        border-radius: 20px;
        background-color: #fff;
        text-align: center;
        color: #0D5CAB;
    }

    #product .pro2 .top .r_side_b>div:last-child {
        width: 48.5%;
        height: auto;
        line-height: 34px;
        border: 3px solid #fff;
        border-radius: 20px;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
    }

    #product .pro2 .bot {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        width: 100%;
        height: 30%;
        background-color: transparent;
    }

    #product .pro2 .bot>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48.45%;
        height: 100%;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 30px 60px 0px rgba(114, 114, 114, 0.25);
    }

    #product .pro2 .bot>div img {
        align-self: center;
        max-height: 70%;
    }

    #product .pro2 .bot>div .box {
        align-self: center;
        width: 85%;
        height: ;
    }

    #product .pro2 .bot>div .txt {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1em;
        width: 100%;
        letter-spacing: -0.04em;
    }

    #product .pro2 .bot>div h5 {
        color: #c1c1c7;
        font-size: 10px;
    }

    #product .pro2 .bot>div p {
        color: #6babed;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 800;
        font-size: 12px;
    }

    /* ------------------------------------------------- */

}